<section class="profile leaderboard">
	<div class="row centered-text">
	  <div class="large-3 columns offset-profile-menu">
			<%= render partial: 'shared/profile_sidebar', locals: { :user => current_user, :github_user => current_user.github_user, :stack_user => current_user.stack_user, :avg_user_score => current_user.avg_user_score  } %>
	  </div>
	  <div class="large-9 background-grey columns">
	    <div class="leaderBoard-pane">
	    	<table id="leaderboard" width="100%">
	    		<thead>
	    		<tr>
	    			<th>Rank</th>
	    			<th>Change</th>
	    			<th>Tier</th>
	    			<th>Member</th>
	    			<th>Score</th>
	    		</tr>
	    		</thead>
	    		<tbody>
	    		<% rank = 0 %>
	    		<% @users.each do |user| %>

	    		<% if current_user && current_user.id == user.id %>
	    			<tr class="current_user">
	    		<% else %>
	    			<tr>
	    		<% end %>
  					<td class="rank">
  						<%= rank += 1 %>
  					</td>
  					<td>
              <%old_position = user.statistics.where(user_id: user.id, score_type: 'leaderboard_rank').order(created_at: :desc).limit(1).first.score %>
              <%current_position = rank %> 
  						<% if old_position == current_position %>
  							<text hidden>0</text> <i class="fa fa-minus">
  						<% elsif old_position > current_position  %>
  							<%=(old_position - current_position).to_i%> <i class="fa fa-long-arrow-up">
  						<% else %>
  							<text hidden>-</text><%=(current_position - old_position).to_i%> <i class="fa fa-long-arrow-down">
  						<% end %>
  					</td>
  					<td>
  						<%= user.user_level %>
  					</td>
  					<td>
							<img src="<%= user.profile_image_url %>" alt="<%= user.full_name %>" />
  						<a target="_blank" href="users/<%= user.id %>"><%= user.full_name %>
  					</td>
  					<td>
  						<% if user.user_score == nil %>
  							0
  						<% else %>
  							<%= user.user_score %>
  						<% end %>
  					</td>
    			</tr>	
	    		<% end %>
	    		</tbody>
	    	</table>
	    </div>
	  </div>
	</div>
</section>
