<section class="profile leaderboard">
	<div class="row centered-text">
	  <div class="large-3 columns">
			<%= render partial: 'shared/profile_sidebar', locals: { :user => current_user, :github_user => current_user.github_user, :stack_user => current_user.stack_user, :avg_user_score => current_user.avg_user_score  } %>
	  </div>
	  <div class="large-9 background-grey columns">
	    <div class="leaderBoard-pane">
	    	<table id="leaderboard">
	    		<thead>
	    		<tr>
	    			<th>Rank</th>
	    			<th>Change</th>
	    			<th>Tier</th>
	    			<th>Member</th>
	    			<th>Score</th>
	    		</tr>
	    		</thead>
	    		<tbody>
	    		<% rank = 0 %>
	    		<% @users.each do |user| %>

	    		<% if current_user && current_user.id == user.id %>
	    			<tr class="current_user">
	    		<% else %>
	    			<tr>
	    		<% end %>
  					<td>
  						<%= rank += 1 %>
  					</td>
  					<td>
  						<% if 3 == 0 %>
  							0
  						<% elsif 3 > 0 %>
  							+3 <i class="fa fa-long-arrow-up">
  						<% else %>
  							-3 <i class="fa fa-long-arrow-down">
  						<% end %>
  					</td>
  					<td>
  						Tier
  					</td>
  					<td>
							<img src="<%= user.profile_image_url %>" alt="<%= user.full_name %>" />
  						<a target="_blank" href="user/<%= user.id %>"><%= user.full_name %>
  					</td>
  					<td>
  						<% if user.user_score == nil %>
  							0
  						<% else %>
  							<%= user.user_score %>
  						<% end %>
  					</td>
    			</tr>	
	    		<% end %>
	    		</tbody>
	    	</table>
	    </div>
	  </div>
	</div>
</section>
