<section class="profile <%= controller_name%> <%= action_name %>">
	<div class="row centered-text">
	  <div class="large-3 columns">
	    <div class="profile-pane">
	    	<!-- Profile Details -->
		    	<div class="profile-details">
			    	<!-- Profile Image + Name -->
				    	<div class="profile-image-name">
					    	<div class="row centered-text">
							    <div class="large-3 medium-3 small-3 columns">
                    <%=image_tag(@user.profile_image_url, alt: "profile-image")%>
							    </div>
							    <div class="large-8 medium-8 small-8 columns">
							      <h3><%=@user.full_name%></h3>
							      <h4><%=@user.user_type%></h4>
							      <a class="edit-profile" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Edit Profile</a>
							    </div>
							  </div>
						  </div>
			    	<!-- #/End of Profile Image + Name -->


			    	<!-- Profile Extra Info -->
			    	<div class="profile-extra-info">
              <p><%=@user.user_bio%></p>
              <span><a class="black" href="#"><%=@user.email%></a></span></br>
			    		<span><a class="black" href="#">http://passionate.ca</a></span>
			    		<span class="phone-number">604-218-9556</span>
              <a href="/logout" class="btn btn-default">Sign out</a>
			    	</div>
			    	<!-- #/End Profile Extra info -->
			    </div>
		    	<!-- #/End of Profile Details -->

		    	<!-- Profile Score -->
		    	<div class="profile-score">
		    		<table cellspacing="0">
		    			<tr>
		    				<th>Score</th>
		    				<th>Change</th>
		    			</tr>
		    			<tr>
		    				<td>88</td>
		    				<td>-9 <i class="fa fa-long-arrow-down"></i></td>
		    			</tr>
		    		</table>
		    	</div>
		    <!-- #/End of Profile Score -->

		    <!-- Profile Friends -->
		    <div class="profile-friends">
		    	<h3>My Friends</h3>
		    	<ul>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    		<li><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a></li>
		    	</ul>
		    </div>
		    <!-- #/End of Friends -->
	  	</div>
	  </div>
	  <div class="large-9 background-grey columns">
	    <div class="analytics-pane">
	    	<!-- Comparing Profiles -->
	    	<div class="comparing-profiles">
	    		<ul>
	    			<li><div class="profile-compared text-align-center"><span class="score">66</span><span class="remove-comparing-profile">X</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p></div></li>
	    			<li><div class="profile-compared text-align-center"><span class="score">66</span><span class="remove-comparing-profile">X</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p></div></li>
	    			<li><div class="profile-compared text-align-center"><span class="score">66</span><span class="remove-comparing-profile">X</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p></div></li>
	    			<li class="compare-new"><span class="compare-new-icon"><span class="compare-drop-down-btn"><a href="#" data-reveal-id="select-friends-popup">+</a></span></span></li>
	    		</ul>
	    	</div>
	    	<!-- #/End of Comparing Profiles -->

	    	<!-- COMPARE FRIENDS POP UP -->
				<div id="select-friends-popup" class="comparing-profiles select-friends reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
					<h2 id="modalTitle">Compare Your Friends</h2>
					<p class="lead">Select on Your Friends Below to Start Comparing!</p>
					<ul>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					<li><div class="profile-compared text-align-center"><span class="score">66</span><a class="friend-profile" href="#"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/22c/22b/12e6183.jpg" alt="Brian Li's Profile"></a><p>Brian</p><p><a class="black" href="#">Compare</a></div></li>
					</ul>
					<a class="close-reveal-modal" aria-label="Close">X</a>
				</div>
				<!-- #/END OF COMPARE FRIENDS POP UP -->

	    	<!-- github + stack overflow options -->
	    	<div class="analytic-view-options">
		    	<span class="github-btn active">GitHub</span>
					<span class="stackoverflow-btn">Stack Overflow</span>
	  		</div>
	    	<!-- #/End of github + stack overflow options -->

	    	<div style="clear:both;"></div>

	    	<!-- Main Analytics -->
	    	<div class="main-analytics">
	    		<!-- 1st level -->
	    		<div class="row centered-text">
				    <div class="medium-4 large-4 columns">
				      <div class="analytic-panel">
				      	<h3>Followers <span data-tooltip aria-haspopup="true" class="has-tip" title="Followers: Put Some Text Here..."><i class="fa fa-question-circle"></i></span></h3>
				      	<span class="current_total">300</span>
				      	<span class="current_changed">+30 <i class="fa fa-long-arrow-down"></i></span>
				      </div>
				    </div>
				    <div class="medium-4 large-4 columns">
				      <div class="analytic-panel">
				      	<h3>Followers <span data-tooltip aria-haspopup="true" class="has-tip" title="Followers: Put Some Text Here..."><i class="fa fa-question-circle"></i></span></h3>
				      	<span class="current_total">300</span>
				      	<span class="current_changed">+9 <i class="fa fa-long-arrow-up"></i></span>
				      </div>
				    </div>
				    <div class="medium-4 large-4 columns">
				      <div class="analytic-panel">
				      	<h3>Followers <span data-tooltip aria-haspopup="true" class="has-tip" title="Followers: Put Some Text Here..."><i class="fa fa-question-circle"></i></span></h3>
				      	<span class="current_total">300</span>
				      	<span class="current_changed">+9 <i class="fa fa-long-arrow-up"></i></span>
				      </div>
				    </div>
				  </div>
				  <!-- #/end of 1st level -->
				  <!-- 2nd level -->
				  <div class="row centered-text">
				    <div class="medium-6 large-6 columns">
				      <div class="analytic-panel">
				      	<h3>Followers</h3>
				      	<canvas id="myPie6" class="chartset3"></canvas>
				      	<!-- comparing with -->
				      	<div class="comparing-with">
				      		<table align="center">
				      			<tr>
				      				<td>
				      					<table>
				      						<tr>
				      							<td><span class="person-label person-one"></span></td>
				      							<td class="person-name">Sing Song Li</td>
				      						</tr>
				      						<tr>
				      							<td><span class="person-label person-two"></span></td>
				      							<td class="person-name">Ching Long</td>
				      						</tr>
				      					</table>
				      				</td>
				      				<td>
				      					<table>
				      						<tr>
				      							<td><span class="person-label person-three"></span></td>
				      							<td class="person-name">Mang Go Horizon</td>
				      						</tr>
				      						<tr>
				      							<td><span class="person-label person-four"></span></td>
				      							<td class="person-name">Mighty Kale</td>
				      						</tr>
				      					</table>
				      				</td>
				      			</tr>
				      		</table>
				      	</div>
				      	<!-- #/End of comparing with -->
				      </div>
				    </div>
				    <div class="medium-6 large-6 columns">
				      <div class="analytic-panel">
				      	<h3>Followers</h3>
				      	<canvas id="myPie4" class="chartset3"></canvas>
				      	<!-- comparing with -->
				      	<div class="comparing-with">
				      		<table align="center">
				      			<tr>
				      				<td>
				      					<table>
				      						<tr>
				      							<td><span class="person-label person-one"></span></td>
				      							<td class="person-name">Sing Song Li</td>
				      						</tr>
				      						<tr>
				      							<td><span class="person-label person-two"></span></td>
				      							<td class="person-name">Ching Long</td>
				      						</tr>
				      					</table>
				      				</td>
				      				<td>
				      					<table>
				      						<tr>
				      							<td><span class="person-label person-three"></span></td>
				      							<td class="person-name">Mang Go Horizon</td>
				      						</tr>
				      						<tr>
				      							<td><span class="person-label person-four"></span></td>
				      							<td class="person-name">Mighty Kale</td>
				      						</tr>
				      					</table>
				      				</td>
				      			</tr>
				      		</table>
				      	</div>
				      	<!-- #/End of comparing with -->
				      </div>
				    </div>
				  </div>
				  <!-- #/End of 2nd level -->
				  <!-- 3rd level -->
				  <div class="row centered-text">
				    <div class="medium-6 large-6 columns">
				      <div class="analytic-panel">
				      	<h3>Followers</h3>
				      	<canvas id="myPie7" class="chartset3"></canvas>
				      	<!-- comparing with -->
				      	<div class="comparing-with">
				      		<table align="center">
				      			<tr>
				      				<td>
				      					<table>
				      						<tr>
				      							<td><span class="person-label person-one"></span></td>
				      							<td class="person-name">Sing Song Li</td>
				      						</tr>
				      						<tr>
				      							<td><span class="person-label person-two"></span></td>
				      							<td class="person-name">Ching Long</td>
				      						</tr>
				      					</table>
				      				</td>
				      				<td>
				      					<table>
				      						<tr>
				      							<td><span class="person-label person-three"></span></td>
				      							<td class="person-name">Mang Go Horizon</td>
				      						</tr>
				      						<tr>
				      							<td><span class="person-label person-four"></span></td>
				      							<td class="person-name">Mighty Kale</td>
				      						</tr>
				      					</table>
				      				</td>
				      			</tr>
				      		</table>
				      	</div>
				      	<!-- #/End of comparing with -->
				      </div>
				    </div>
				    <div class="medium-6 large-6 columns">
				      <div class="analytic-panel">
				      	<h3>Followers</h3>
				      	<canvas id="myPie8" class="chartset3"></canvas>
				      	<!-- comparing with -->
				      	<div class="comparing-with">
				      		<table align="center">
				      			<tr>
				      				<td>
				      					<table>
				      						<tr>
				      							<td><span class="person-label person-one"></span></td>
				      							<td class="person-name">Sing Song Li</td>
				      						</tr>
				      						<tr>
				      							<td><span class="person-label person-two"></span></td>
				      							<td class="person-name">Ching Long</td>
				      						</tr>
				      					</table>
				      				</td>
				      				<td>
				      					<table>
				      						<tr>
				      							<td><span class="person-label person-three"></span></td>
				      							<td class="person-name">Mang Go Horizon</td>
				      						</tr>
				      						<tr>
				      							<td><span class="person-label person-four"></span></td>
				      							<td class="person-name">Mighty Kale</td>
				      						</tr>
				      					</table>
				      				</td>
				      			</tr>
				      		</table>
				      	</div>
				      	<!-- #/End of comparing with -->
				      </div>
				    </div>
				  </div>
				  <!-- #/End of 3rdnd level -->
	    	</div>
	    	<!-- #/End of Main Analytics -->
	    </div>
	  </div>
	</div>
</section>
