<div class="profile-pane">
  <!-- Profile Details -->
    <div class="profile-details">
      <!-- Profile Image + Name -->
        <div class="profile-image-name">
          <div class="row centered-text">
            <div class="large-3 medium-3 small-3 columns">
              <div class="profile-image-container">
                <%=image_tag(@user.profile_image_url, alt: "profile-image")%>
              </div>
            </div>
            <div class="large-8 medium-8 small-8 columns profile-information-part">
              <h3><%=@user.full_name%></h3>
              <h4><%=@user.user_level%></h4>
              <% if current_user.id == @user.id %>
                <a class="edit-profile" href="#" data-reveal-id="profile-update"><i class="fa fa-pencil fa-fw"></i>&nbsp; Edit Profile</a>
              <% else %>
                <a class="edit-profile" href="/compare?id=<%=@user.id%>">&nbsp; Compare</a>
              <% end %>
            </div>
          </div>
        </div>
      <!-- #/End of Profile Image + Name -->
      
      <% if current_user.id == @user.id %>
        <!-- PROFILE UPDATE POP UP -->
          <div id="profile-update" class="reveal-modal popup profile-updates text-align-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <div class="row">
            <div class="large-12 columns">
              <h3>Edit Your Profile</h3>
            </div>
          </div>
          <%= form_for(@user, remote: true, format: :json, html: {class: :update_profile}) do |f| %>

            <input class="update-current-user-id" type="hidden" value="<% @user.id %>">
            <div class="row">
              <div class="large-6 columns">
                <label class="full-name-label">Full Name (0/40)</label>
                <%= f.text_field :full_name, placeholder: "Full Name", class: 'update-full-name', maxlength: 40 %>
              </div>
              <div class="large-6 columns">
              <label>Email Address</label>
                <%= f.text_field :email, placeholder: "Email", class: 'update-email', type:'email', required: true %>
              </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
              <label>Profile Photo Url</label>
                <%= f.text_field :profile_image_url, placeholder: "Profile Photo", class: 'update-profile-photo', type:'url', required: true %>
              </div>
              <div class="large-6 columns">
                <label>Blog Url</label>
                <%= f.text_field :blog, placeholder: "Blog Url", class: 'update-blog-url', type:'url' %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label class="bio-label">Bio Description (0/140)</label>
                <%= f.text_area(:user_bio, placeholder: "Write something nice about you", size: '50x10', :class => "update-bio", maxlength: 140)%>
               <%= f.submit :value => "Save Changes", class: 'profile-update-btn' %>
              </div>
            </div>
          <% end %>
          <a class="close-reveal-modal" aria-label="Close">X</a>
        </div>
      <!-- #/END OF PROFILE UPDATE POP UP -->
    <% end %>

      <!-- Profile Extra Info -->
      <div class="profile-extra-info">
        <p class="user-bio"><%=@user.user_bio%></p>
        <span class="email-address"><a class="black" href="mailto:<%=@user.email%>"><%=@user.email%></a></span></br>
        <span class="profile-blog-url"><a class="black" href="<%=@user.blog%>" target="_blank"><%=@user.blog%></a></span>
      </div>
      <!-- #/End Profile Extra info -->
    </div>
    <!-- #/End of Profile Details -->

    <!-- Profile Score -->
    <div class="profile-score">
      <table cellspacing="0">
        <tr>
          <th>Score</th>
          <th>Change</th>
        </tr>
        <tr>
          <%new_score = @user.user_score%>
          <td><%=@user.user_score%></td>
          <td class="total-score-changed">
            <%old_score = @user.statistics.where(user_id: @user.id, score_type: 'gh_total_score').order(created_at: :desc).first.score %>
            <% if old_score == new_score %>
              <i class="fa fa-minus">
            <% elsif old_score < new_score  %>
              +<%=(new_score - old_score).to_i%> <i class="fa fa-long-arrow-up">
            <% else %>
              <%=(new_score - old_score).to_i%> <i class="fa fa-long-arrow-down">
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    
  <% if current_user.id == @user.id %>
      <% if !@user.stack_user %>
        <div class="profile-btn">
          <table>
            <tr>
              <td width="70%">
                <table>
                  <tr>
                    <td><img class="stack-overflow-icon" src="../images/icons/stack-overflow-icon.svg" /></td>
                    <td class="link"><a class="connect-link" href="/stackoverflow">Connect to Stack&nbsp;Overflow</a></td>
                  </tr>
                </table>
              </td>
              <td width="30%"></td>
            </tr>
          </table>
          <a class="connect-btn" href="/stackoverflow">+</a>
      </div>
    <% end %>

    <% if !@user.twitter_user %>
      <div class="profile-btn">
        <table>
          <tr>
            <td width="70%">
              <table>
                <tr>
                  <td><img src="../images/icons/twitter-icon.svg" width="50" height="50" /></td>
                  <td class="link"><a class="connect-link" href="/twitter">Connect to Twitter</a></td>
                </tr>
              </table>
            </td>
            <td width="30%"></td>
          </tr>
        </table>
        <a class="connect-btn" href="/twitter">+</a>
      </div>
    <% end %>
  <% end %>

  <!-- Profile Friends -->
  <div class="twitter-option-buttons">
    <span class="twitter-followers-btn active">Followers</span>
    <span class="twitter-followings-btn">Following</span>
  </div>
  <div style="clear:both;"></div>

  <div class="profile-friends">
    <div class="twitter-followers-container">
      <% if @user.followers.uniq.length < 1 %>
        <h3 class="no-friends-message">No Followers</h3>
      <% else %>
        <ul class="twitter-followers">
            <% @user.followers.uniq.each do |user| %>
              <li><a class="friend-profile" href="<%= user_path(user.id) %>"><img src="<%= user.profile_image_url %>" alt="<%= user.full_name %> Profile"></a></li>
            <% end %>
        </ul>
      <% end %>
    </div>

    <div class="twitter-followings-container">
      <% if @user.followed_users.uniq.length < 1 %>
        <h3 class="no-friends-message">No Following</h3>
      <% else %>
      <ul class="twitter-followings">
        <% @user.followed_users.uniq.each do |user| %>
          <li><a class="friend-profile" href="<%= user_path(user.id) %>"><img src="<%= user.profile_image_url %>" alt="<%= user.full_name %> Profile"></a></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
  <!-- #/End of Friends -->
</div>
