<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>DevStack | <%= yield(:title) %></title>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => false  %>
    <%= stylesheet_link_tag "https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => false %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js" %>
    <%= javascript_include_tag "https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <% if !current_user %>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h2><a class="text-logo" href="/">DevStack</a></h2>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="name" style="list-style-type: none;"><h2><a href="#">About</a></h2></li>
          <li class="name" style="list-style-type: none;"><h2><a href="#">Contact Us</a></h2></li>
          <li class="name" style="list-style-type: none;"><h2><a data-reveal-id="developer-sign-in" class="signin-btn" href="/signin">Sign In</a></h2></li>
        </ul> 
      </section>
    </nav>
    <% else %>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h2><a href="/">DevStack</a></h2>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <% if !current_page?(controller: 'users', action: 'profile') %>
            <li class="name" style="list-style-type: none;"><h2><a href="/profile">
          Profile</a></h2></li>
          <% end %>
          <li class="name" style="list-style-type: none;"><h2><a href="/leaderboard">Leader Board</a></h2></li>
          <li class="name" style="list-style-type: none;"><h2><a href="/logout">Logout</a></h2></li>
        </ul>
      </section>
    </nav>
    <% end %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      
    <%= yield %>
    <footer>
      <div class="row">
        <div class="medium-6 large-6 columns text-mobile-align-center">
          <span class="company-name-text"><a href="/">DevStack</a> Copyright &copy; 2015</span>
        </div>
        <div class="medium-6 large-6 columns text-align-right text-mobile-align-center">
          <div class="quick-links">
            <a href="/help">Help</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/about">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/contact">Contact</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
